.user circle icon {
  height: 50px;
}

.menu-spacer {
  flex: 1 1 auto;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: none;
  margin-inline-end: none;
  padding-inline-start: 40px;
  /* cursor: pointer; */
}

.mat-toolbar {
  background: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.003),
    0 6.7px 5.3px rgba(0, 0, 0, 0.004), 0 12.5px 10px rgba(0, 0, 0, 0.005),
    0 22.3px 17.9px rgba(0, 0, 0, 0.006), 0 41.8px 33.4px rgba(0, 0, 0, 0.007),
    0 100px 80px rgba(0, 0, 0, 0.01);
  font: 1em Roboto;
}

.label-li {
  margin-right: 15px;
  margin-top: 6px;
}
