<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img routerLink="/menu"
          src="https://raw.githubusercontent.com/krittin1/my-storage/master/azform.png?token=AGJ244KU4HEJGFHN5IRA4MK7IAQ56"
          style="height: 55px; width: px65; margin-left: 55px;"
        />
      </li>

      <li class="nav-item" style="margin-left: 830px; margin-top: 5px;">
        <a class="ui label">
          <img
            class="ui right spaced avatar image"
            src="https://raw.githubusercontent.com/krittin1/my-storage/master/mycat.jpg?token=AGJ244MF22CRHJBKVT65XPK7H6GB4"
          />
          Hi, Chatchanok
        </a>
      </li>
    </ul>
  </div>
</nav>
