<p>login works!</p>
<div class="parent">
    <div class="div1"> </div>
    <div class="div2">Hi, Chatchanokwon </div>
    <div class="div3"> 
        <button mat-raised-button color="primary">Login</button>
    </div>
</div>

<!-- <nav>
  <ul>
    <li>
      <a>
        <img
          src="https://raw.githubusercontent.com/krittin1/my-storage/master/logo.png?token=AGJ244OZIMHWPAGNAWTJFRK7FPH2Y"
        />
      </a>
    </li>

    <li>
      <a id="testing_search_page" [routerLink]="['/login']">Login</a>
    </li>
    <li>
      <a id="testing_search_page" [routerLink]="['/menu']">Menu</a>
    </li>
  </ul>
</nav> -->

<div>
  <router-outlet></router-outlet>
</div>
