<br />
<h2 style="margin-left: 75px;">Login to Allianz Form.</h2>
<div class="parent">
  <div class="div1">
    <mat-card>
      <img
        src="https://raw.githubusercontent.com/krittin1/my-storage/master/mycat.jpg?token=AGJ244MF22CRHJBKVT65XPK7H6GB4"
      />

      <div class="div2">Hi, Chatchanok</div>
      <br />
      <div class="div3">
        <button
          id="login_btn"
          routerLink="/menu"
          mat-raised-button
          color="primary"
        >
          Login
        </button>
      </div>
    </mat-card>
  </div>
</div>
