<br />

<div class="parent">
    <div class="div1"></div>

    <div class="div2" style="margin-bottom: 80%;">
        <mat-card>


            <div class="example-button-row">
                <button class="menu-btn-add" id="add_btn" routerLink="/form" mat-raised-button>
          ADD NEW EMPLOYEE</button><br />
                <button class="menu-btn-edit" id="edit_btn" routerLink="/edit" mat-raised-button>
          MODIFY EMPLOYEE</button><br />
                <button class="menu-btn-delete" id="delete_btn" mat-raised-button (click)="deleteUser()">
          REMOVE EMPLOYEE : JIRAPORN </button><br />
                <p>or</p>

                <button class="menu-btn-history" id="history_btn" routerLink="/history" mat-raised-button>
          HISTORY 
        </button>
            </div>

            <div class="div5"></div>
        </mat-card>
    </div>
    <div class="div6"></div>
</div>