<br />
<h2 style="margin-left: 75px;">Menu Navigator</h2>
<div class="parent">
  <div class="div1"></div>

  <div class="div2">
    <mat-card>
      <div class="div3"></div>

      <div class="example-button-row">
        <button
          class="menu-btn"
          id="add_btn"
          routerLink="/form"
          mat-raised-button
          color="primary"
        >
          Add</button
        ><br />
        <button
          class="menu-btn"
          id="edit_btn"
          routerLink="/edit"
          mat-raised-button
          color="accent"
        >
          Edit</button
        ><br />
        <button
          class="menu-btn"
          id="delete_btn"
          mat-raised-button
          color="warn"
          (click)="deleteUser()"
        >
          Delete</button
        ><br />
        <p>or</p>

        <button
          class="menu-btn"
          id="history_btn"
          routerLink="/history"
          mat-raised-button
          color="primary"
        >
          History
        </button>
      </div>

      <div class="div5"></div
    ></mat-card>
  </div>
  <div class="div6"></div>
</div>
