<p>menu works!</p>
<div class="parent">
    <div class="div1">

    </div>
    <div class="div2">

    </div>
    <div class="div3">

    </div>
    
        <div class="example-button-row">
            
            <button mat-raised-button color="primary">Add</button>
            <button mat-raised-button color="accent">Edit</button>
            <button mat-raised-button color="warn">Delete</button>

            <button mat-raised-button color="primary">History</button>
            
        </div>
    <div class="div5">

    </div>
    <div class="div6">
        

    </div>
</div>
