@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 5%;
}

h2 {
  color: navy;

  font-family: "Comfortaa", cursive;
}
